.catppuccinFrappe {
    --accent: #f4b8e4; /* pink */
    --green: #a6d189; /* green */
    --text: #c6d0f5; /* text */
    --foreground: #232634; /* crust */
    --background: #232634; /* crust */
    --outside: #232634; /* crust */
    --post: #303446; /* crust */
    --panel-border: 1px solid #303446; /* base */
    --highlighted: #414559; /* surface0 */
    --visited: #737994; /* overlay0 */
    --shadow: 0 0 0 transparent;
    --nsfw: #ca9ee6; /* mauve */
    --admin: #ea999c; /* maroon */

    --crust: #232634; /* crust */
    --base: #303446; /* base */
}

.catppuccinFrappe .line {
    background: var(--base);
}

.catppuccinFrappe .comment_score {
    background: var(--base);
    border-radius: 10px;
    box-shadow: 2px 2px 10px #0f0f17,
        -2px -2px 10px #212133;
    /* base */

}

.catppuccinFrappe .post {
    border-radius: 30px;
    box-shadow: 5px 5px 15px #0f0f17,
        -5px -5px 15px #212133;
    /* base */
    transition-property: background, box-shadow;
}

.catppuccinFrappe .post:hover {
    box-shadow: none;
}

.catppuccinFrappe #commentSortSelect {
    background: var(--base);
}

.catppuccinFrappe #search {
    background: var(--base);
}

.catppuccinFrappe #sort_submit {
    color: var(--base);
}

.catppuccinFrappe #top {
    background: var(--crust);
}

.catppuccinFrappe #sidebar,
.catppuccinFrappe #subreddit,
.catppuccinFrappe #user {
    border-radius: 30px;
}

.catppuccinFrappe .subscribe,
.catppuccinFrappe .unsubscribe,
.catppuccinFrappe .filter,
.catppuccinFrappe .unfilter {
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 3px 3px 15px #9a7a92,
        -3px -3px 15px #ffffff;
    /* accent */
    transition-property: background, box-shadow, color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-behavior: normal;
    border: 1px solid var(--accent);
}

.catppuccinFrappe .subscribe:hover,
.catppuccinFrappe .unsubscribe:hover,
.catppuccinFrappe .filter:hover,
.catppuccinFrappe .unfilter:hover {
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    border-radius: 30px;
    background: var(--crust);
    box-shadow: none;
    color: var(--accent);
}

.catppuccinFrappe select,
.catppuccinFrappe #search {
    border: none;
    padding: 0 10px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 10px 0px 0px 10px;
}

.catppuccinFrappe #search {
    border-right: none;
    flex-grow: 1;
}

.catppuccinFrappe #inside {
    border-right: none;
}

.catppuccinFrappe input[type="submit"],
.catppuccinFrappe button.submit {
    border: 0;
    border-radius: 0px 10px 10px 0px;
}

.catppuccinFrappe .commentQuery {
    border-radius: 10px 10px 10px 10px !important;
}

.catppuccinFrappe #feeds {
    border-radius: 10px;
}

.catppuccinFrappe :focus-visible {
    outline: 1px solid var(--accent);
}

.catppuccinFrappe #sort_options+#timeframe:not(#search_sort > #timeframe) {
    border-radius: 0px 0px 0px 0px;
}

.catppuccinFrappe #listing_options+#sort_select {
    margin-left: 10px;
    border-radius: 10px 0px 0px 10px;
    background: var(--base);
}

.catppuccinFrappe #search_sort {
    border-radius: 10px;
}

.catppuccinFrappe #search_subreddits {
    border-radius: 10px;
}

.catppuccinFrappe .post_thumbnail {
    border-radius: 10px;
}

.catppuccinFrappe .author_flair {
    border-radius: 10px;
}

.catppuccinFrappe .prefs {
    border-radius: 30px;
}

.catppuccinFrappe .prefs select {
    border-radius: 10px;
}

.catppuccinFrappe #save {
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 3px 3px 15px #9a7a92,
            -3px -3px 15px #ffffff;
        /* accent */
    background: var(--accent);
    transition-property: background, box-shadow, color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-behavior: normal;
    border: 1px solid var(--accent);
}

.catppuccinFrappe #save:hover {
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    border-radius: 30px;
    background: var(--base);
    box-shadow: none;
    color: var(--accent);
}

.catppuccinFrappe .post_flair {
    border-radius: 10px;
}

.catppuccinFrappe .nsfw {
    border-radius: 10px;
}

.catppuccinFrappe .spoiler {
    border-radius: 10px;
}

.catppuccinFrappe #sort_options,
.catppuccinFrappe #listing_options {
    border-radius: 10px;
    background: var(--base);
}

.catppuccinFrappe #user_icon,
.catppuccinFrappe #sub_icon {
    border: 1px solid var(--accent);
}

.catppuccinFrappe #user_subscription form {
    word-wrap: normal;
}

.catppuccinFrappe #search_subreddits {
    border-radius: 10px;
}

.catppuccinFrappe #timeframe {
    background: var(--highlighted);
    margin: 0px 0px 0px 2px;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-behavior: normal;
}

.catppuccinFrappe .search_widget_divider_box>* {
    background: var(--crust);
}

.catppuccinFrappe #inside {
    background: var(--base);
    border-radius: 0px 10px 10px 0px;
}

.catppuccinFrappe #sort_options+#timeframe {
    margin-left: 0px;
    border-radius: 0px 0px 0px 0px;
    background: var(--base);
}

.catppuccinFrappe #inside+#sort_options {
    margin-left: 4px;
    border-radius: 10px 0px 0px 10px;
    background: var(--base);
}

.catppuccinFrappe #sort_options:hover,
.catppuccinFrappe #timeframe:hover,
.catppuccinFrappe #listing_options:hover {
    color: var(--accent);
}

.catppuccinFrappe .post_media_content {
    border-radius: 10px;
}

.catppuccinFrappe #inside+.submit {
    background: var(--crust);
}

.catppuccinFrappe .gallery img {
    border-radius: 10px;
}