.catppuccinMocha {
  --accent: #f5c2e7; /* pink */
  --green: #a6e3a1; /* green */
  --text: #cdd6f4; /* text */
  --foreground: #11111b; /* crust */
  --background: #11111b; /* crust */
  --outside: #11111b; /* crust */
  --post: #181825; /* base */
  --panel-border: 1px solid #181825; /* base */
  --highlighted: #313244; /* surface0 */
  --visited: #6c7086; /* overlay0 */
  --shadow: 0 0 0 transparent;
  --nsfw: #cba6f7; /* mauve */
  --admin: #eba0ac; /* maroon */

  --base: #1e1e2e; /* base */
  --crust: #11111b; /* crust */
}

.catppuccinMocha .line {
  background: var(--base);
}

.catppuccinMocha .comment_score {
  background: var(--base);
  border-radius: 10px;
  box-shadow: 2px 2px 10px #0f0f17,
    -2px -2px 10px #212133; /* base */
}

.catppuccinMocha .post {
  border-radius: 30px;
  box-shadow: 5px 5px 15px #0f0f17,
    -5px -5px 15px #212133; /* base */
  transition-property: background, box-shadow;
}

.catppuccinMocha .post:hover { 
  box-shadow: none;
}

.catppuccinMocha #commentSortSelect {
  background: var(--base);
}

.catppuccinMocha #search {
  background: var(--base);
}

.catppuccinMocha #sort_submit {
  color: var(--base);
}

.catppuccinMocha #top {
  background: var(--crust);
}

.catppuccinMocha #sidebar,
.catppuccinMocha #subreddit,
.catppuccinMocha #user {
  border-radius: 30px;
}

.catppuccinMocha .subscribe,
.catppuccinMocha .unsubscribe,
.catppuccinMocha .filter,
.catppuccinMocha .unfilter {
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 3px 3px 15px #9a7a92,
    -3px -3px 15px #ffffff; /* accent */
  transition-property: background, box-shadow, color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-behavior: normal;
  border: 1px solid var(--accent);
}

.catppuccinMocha .subscribe:hover,
.catppuccinMocha .unsubscribe:hover,
.catppuccinMocha .filter:hover,
.catppuccinMocha .unfilter:hover {
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  border-radius: 30px;
  background: var(--crust);
  box-shadow: none;
  color: var(--accent);
}

.catppuccinMocha select,
.catppuccinMocha #search {
  border: none;
  padding: 0 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 10px 0px 0px 10px;
}

.catppuccinMocha #search {
  border-right: none;
  flex-grow: 1;
}

.catppuccinMocha #inside {
  border-right: none;
}

.catppuccinMocha input[type="submit"],
.catppuccinMocha button.submit {
  border: 0;
  border-radius: 0px 10px 10px 0px;
}

.catppuccinMocha .commentQuery {
  border-radius: 10px 10px 10px 10px !important;
}

.catppuccinMocha #feeds {
  border-radius: 10px;
}

.catppuccinMocha :focus-visible {
  outline: 1px solid var(--accent);
}

.catppuccinMocha #sort_options + #timeframe:not(#search_sort > #timeframe) {
  border-radius: 0px 0px 0px 0px;
}

.catppuccinMocha #listing_options + #sort_select {
  margin-left: 10px;
  border-radius: 10px 0px 0px 10px;
  background: var(--base);
}

.catppuccinMocha #search_sort {
  border-radius: 10px;
}

.catppuccinMocha #search_subreddits {
  border-radius: 10px;
}

.catppuccinMocha .post_thumbnail {
  border-radius: 10px;
}

.catppuccinMocha .author_flair {
  border-radius: 10px;
}

.catppuccinMocha .prefs {
  border-radius: 30px;
}

.catppuccinMocha .prefs select {
  border-radius: 10px;
}

.catppuccinMocha #save {
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 3px 3px 15px #9a7a92,
    -3px -3px 15px #ffffff; /* accent */
  background: var(--accent);
  transition-property: background, box-shadow, color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-behavior: normal;
  border: 1px solid var(--accent);
}

.catppuccinMocha #save:hover {
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  border-radius: 30px;
  background: var(--base);
  box-shadow: none;
  color: var(--accent);
}

.catppuccinMocha .post_flair {
  border-radius: 10px;
}

.catppuccinMocha .nsfw {
  border-radius: 10px;
}

.catppuccinMocha .spoiler {
  border-radius: 10px;
}

.catppuccinMocha #sort_options,
.catppuccinMocha #listing_options {
  border-radius: 10px;
  background: var(--base);
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-behavior: normal;
}

.catppuccinMocha #user_icon,
.catppuccinMocha #sub_icon {
  border: 1px solid var(--accent);
}

.catppuccinMocha #user_subscription form{
  word-wrap: normal;
}

.catppuccinMocha #search_subreddits {
  border-radius: 10px;
}

.catppuccinMocha #timeframe {
  background: var(--highlighted);
  margin: 0px 0px 0px 2px;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-behavior: normal;
}

.catppuccinMocha .search_widget_divider_box>* {
  background: var(--crust);
}

.catppuccinMocha #inside {
  background: var(--base);
  border-radius: 0px 10px 10px 0px;
}

.catppuccinMocha #sort_options+#timeframe {
  margin-left: 0px;
  border-radius: 0px 0px 0px 0px;
  background: var(--base);
}

.catppuccinMocha #inside+#sort_options {
  margin-left: 4px;
  border-radius: 10px 0px 0px 10px;
  background: var(--base);
}

.catppuccinMocha #sort_options:hover,
.catppuccinMocha #timeframe:hover,
.catppuccinMocha #listing_options:hover {
  color: var(--accent);
}

.catppuccinMocha .post_media_content {
  border-radius: 10px;
}

.catppuccinMocha #inside+.submit {
  background: var(--crust);
}

.catppuccinMocha .gallery img {
  border-radius: 10px;
}